<h1><center>فرم ورود</center></h1>

<%= form_tag '/login' do %>

  نام کاربری: <%= text_field_tag :username %>
  کلمه عبور: <%= password_field_tag :password %>
 
<% y_rand=rand(1..5) 
	x_rand=rand(1..5)
	z_rand = x_rand + y_rand
	%>
سوال امنیتی :

<div class="image_captch">

      <img src="assets/images/captcha" alt="" />
      
      <span> 	حاصل جمع :<br/> <%= x_rand %> + <%=y_rand %></span>

</div>
پاسخ امنیتی: <%= text_field_tag :answer %>

 <%= hidden_field_tag :z_rand , z_rand %>
  

  <%= submit_tag "ورود" , class: 'buttons' %>




<% end %>
