<h1><center>افزودن مدیر جدید</h1>

<%= form_for :user, url: '/users' do |f| %>

  نام کاربری:<br> <%= f.text_field :username %><br>
  ایمیل: <br><%= f.email_field :email %><br>
  کلمه عبور:<br> <%= f.password_field :password %><br>
  دوباره! <br><%= f.password_field :password_confirmation %><br>
  <%= f.submit "تایید" %>

<% end %>
