  <% @articles.each do |article| %>




<article>

<section class="post_title" >
<h1 style=" line-height: 35px;"><%= article.title %> 
<time  class="date" ><%= article.created_at.to_parsi.strftime "%A %d %B %Y"   %></time>
</h1>
 </section>





<article class="post_content"> 
<% if (FileTest.exist?(Rails.root+"public/upload/art#{article.id}")) %>
<%= image_tag("/upload/art#{article.id}", alt: "#{article.title}" , :class => "post_pic")  %>
<% end %>
	<%= article.content %> </article>



<hr class="content_hr">
</h4>
<br>
</article>



 <% end %>



