<h2>فرم نوبت دهی</h2>

<%= form_for :ticket, url: '/added_ticket' do |f| %>

  *نام: <%= f.text_field :name %>
  *شماره تلفن: <%= f.number_field :phone %>
  موضوع: <%= f.text_field :subject %>
 
  توضیحات: <%= f.text_area :note %>


<% y_rand=rand(1..5) 
	x_rand=rand(1..5)
	z_rand = x_rand + y_rand
	%>
سوال امنیتی :

<div class="image_captch">

      <img src="assets/images/captcha" alt="" />
      
      <span> 	حاصل جمع :<br/> <%= x_rand %> + <%=y_rand %></span>

</div>
پاسخ امنیتی: <%= f.text_field :answer %>

 <%=f.hidden_field :z_rand , value: z_rand%>


  <%= f.submit "ثبت" ,:class => 'button' %><BR>
فیلد های ستاره دار باید پر شوند




<% end %>
