/*

 *=require foundation_and_overrides

 *=require foundation

 */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    text-align: right;
    padding: 8px auto;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}


@font-face {
  font-family: iransans;
src: url(ishraq.otf);
}

textarea {
  max-width: 100%;
}
.pagestyle{
width: 74%;
margin:0px auto;
background-color:white;
height:auto;
padding:1rem 1rem 5rem;
margin-top:1rem;
border:solid 1px silver;
border-radius:3px;
box-shadow: 5px 5px 2px rgba(105, 105, 105, 0.27);
font-weight: 25px;
font-family: iransans;
}

 body {
direction: rtl;
font-family: arial;
font-family: iransans;
line-height: 35px;

 }





a{
text-decoration:none;
color:inherit;

}

a:hover{
color: grey ;

}


h1,h2,h3,h4,h5 small {
color:SlateGray ;

}




.buttons {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 3px 9px;
}

.buttons:hover {
    background-color: #555555;
    color: white;
}

input{
	max-width: 70%;
}


.note1{
width: 100%;
height: auto;
	padding: 5px;
background-color: rgba(31, 213, 31, 0.43);
}

.note2{
background-color: rgba(219, 30, 30, 0.4);
width: 100%;
height: auto;
	padding: 5px;

}

.note3{
width: 100%;
height: auto;
	padding: 5px;
	background-color: rgba(31, 110, 213, 0.4);
    border-collapse: collapse;
}





body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

/* Additional non-critical styles */

h1, h3, p {
  max-width: 600px;
  margin: 0 auto 1em;
}

code {
    padding: 2px;
    background: #ddd;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%;  }



thead th, thead td, tfoot th, tfoot td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold;
    text-align: right;
}









body{

  background-color:#c1c3c6; 

}

.head_container{
width:88%;
height:150px;
margin: 0px auto;
direction: ltr;
z-index: 0;
margin-top: 5px;
}

.head_top{
width: 100%;
height: 80%;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#433f60+0,2b2840+100 */
background: #433f60; /* Old browsers */
background: -moz-linear-gradient(left, #433f60 0%, #2b2840 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #433f60 0%,#2b2840 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #433f60 0%,#2b2840 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#433f60', endColorstr='#2b2840',GradientType=1 ); /* IE6-9 */
}


.top_logo{
float: right;
width: 20%;
height: 86%;
margin: 10px 20px 0px;

}


.hide_top_left{
width: 0;
height: 0;
border-style: solid;
border-width: 60px 60px 0 0;
border-color: #c1c3c6 transparent transparent transparent;
float: left;
}

.blue_ribbon{

  width: 100%;
  height: 30px;
  background:  repeating-linear-gradient(135deg, #9f9f9f, #9f9f9f .20em , #3b6099 0, #3b6099 .80em);

}

.bottom_ribbon{
width: 100%;
height: 80px;
background:  #41aa99   repeating-linear-gradient(135deg, #9f9f9f, #9f9f9f .20em , #41aa99 0, #41aa99 .80em);
  position: absolute;
  max-width: 88%

}


.bottom_ribbon_middle{
width: 57%;
height: 80px;
margin-left: 14%;
background-color: #3b9199;
position: absolute;
}


.hide_bottom_right{
width: 0;
height: 0;
border-style: solid;
border-width:0 0 50px 50px ;
border-color: transparent transparent #c1c3c6 transparent ;
float: right;
margin-top: 30px;


}



.polygon{
width: 23%;
height: 150px;
display: block;
margin-top: -70px;
margin-left: -70px;
position: absolute;
}


.search_wrap{
position: absolute;
z-index: 3;
margin-left: -1%;
width: 15%;
margin-top: -20px;
}

.search_box{
height: 40px;
max-width: 90%;
direction: rtl;
padding-right: 10px;
background-color: white;
border: none;
font-family: iransans;
border-bottom: solid 3px #3b6099;
}

.search_icon{
width: 30px;
height: 30px;
border-radius: 30px;
background-color: #3b6099;
z-index: 4;
position: absolute;
margin: -37px 0px 0px 5px;
color:oldlace;
padding-left: 7px ;
}

.search_icon:hover{
color: silver;
background-color: #4b70a9;
cursor: pointer;
}


.menu_table{
background-color: #3B9199;
text-align: center;

}

.menu_table a{
color: snow;
font-size: 25px;
line-height: 45px;}


.main_page{
width: 84%;
height: auto;
background-color: white;
z-index: -1;
margin-right:10%;
padding: 120px 25px 30px 25px;
box-shadow: 0px 3px 2px grey;
}


.footer{
width: 84%;
height: auto;
margin-right:10%;
background-color: #433f60;
padding: 20px;
bottom: 0;

box-shadow: 0px 3px 2px grey;
text-align: center;
}

.post_title{
width: 70%;
height: auto;
background: #433f60; /* Old browsers */
background: -moz-linear-gradient(left, #433f60 0%, #2b2840 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #433f60 0%,#2b2840 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #433f60 0%,#2b2840 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#433f60', endColorstr='#2b2840',GradientType=1 ); /* IE6-9 */
margin: auto;
border-top:solid 4px #c09a59;
padding: 8px 4px 1px 4px;
color: #50c2b3;
font-size: 25px;
box-shadow: 1px -3px 5px grey;

}

.post_title h1{


color: #50c2b3;
font-size: 25px;

}

.post_content{
width: 66%;
height: auto;
padding: 2px 8px 5px 5px;
margin: auto;
font-size: 20px;
}


.content_hr{
color:white;
width: 66%;
margin: auto;
}

.date{
float: left;
font-size: 22px;

}

.post_title h1{
margin-top: 15px;
  line-height: 12px;
}


td a:hover{
color:grey;

}

img.post_pic{
  width: 100%;
  height: 350px;

}


.image_captch { 
   position: relative; 
   width: 30%; /* for IE 6 */
}

.image_captch span { 
   position: absolute; 
 color: white;
   left: 0; 
   width: 100%; 
   bottom: 15px;
   background-color: rgba(192, 192, 192, 0.53);
   font-weight: bold;
height: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 4px;
}

@media screen and (max-width: 860px) {
   
.polygon{
display: none;

}

.search_box{
height: 30px;
}

.search_wrap{
  margin-top: -34px;
  margin-left: 10px;
  width: 50%;
}

.search_icon{
margin-top:-29px;
height: 25px;
width: 25px;
}

.bottom_ribbon_middle{
width: 100%;
margin-left: 0%;
}


.image_captch{
width: 40%;

}

}

@media screen and (max-width: 520px){
.head_container,.bottom_ribbon  {
width: 100%;
max-width: 100%;
}

.image_captch{
width: 60%;

}

.hide_bottom_right , .hide_top_left{
display: none;

}

.search_wrap{
  margin-top: -34px;
  width: 60%;
}

.main_page{
width: 100%;  
margin-right: 0px;
}

.post_title{
width: 100%;
padding: 0px 10px 4px 8px;


}

.post_content , .content_hr{
width: 99%;
}


.bottom_ribbon_middle{
height: auto;

}

.bottom_ribbon_middle table tr td a{
font-size: 14px;

}

.footer{
  width: 100%;
  margin: 0;
  float: right;
  clear: both;

}

.menu_table a{
font-size: 20px;
}
.top_logo{
  width: 80%;

}
}