<%= form_for :article , url: "/update/#{params[:id]}" do |f| %>


  <% if @article_find.errors.any? %>

      <h2><%= pluralize(@article_find.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article_find.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

  <% end %>


    <%= f.label :عنوان %><br>
    <%= f.text_field :title ,value: Article.find(params[:id]).title %>
<br><br>
    <%= f.label :متن %><br>
    <%= f.text_area :content , cols: "50", rows: "9", value: Article.find(params[:id]).content%>
<hr>

    <%= f.submit :class => "buttons"%>

<% end %>
