




  <%= form_for :info, url: '/contact_final' do |f| %>

    آدرس:<br> <%= f.text_area :text1 , value: Info.find(1).text1 %> <br>
    تلفن(ها): <br> <%= f.text_area :text2 , value: Info.find(1).text2 %> <br>

    <%= f.submit "تایید" %>






  <% end %>
