<%admin_count = 0%>
  <% @user.each do |admins| %>
    <% if admins.username != 'admin' %>



       نام کاربری :<div style="font-weight:bold;"> <%= admins.username %> </div>   <br>
 		ایمیل : <div style="font-weight:bold;"> <%= admins.email %> </div><br>

 		<%= link_to "Delete", "/delete_user/#{admins.id}" , data:{ confirm: 'آیا مطمینید میخاهید این مدیر را حذف کنید؟ '}  %>
        <hr>

    <% end %>
    <% end %>
    <%if admin_count==0 %>
    مدیر دیگری وجود ندارد!
    <%end%>
