
<article class="panel_menu" style="line-height:25px;">


  <table>
    <thead >
      <tr>
        <th style="text-align:right;">عنوان</th>
        <th style="text-align:right;">حذف</th>
        <th  style="text-align:right;">ویرایش</th>
      </tr>
    </thead>

    <tbody>
    <% @article.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= link_to "delete", "/delete_article/#{article.id}" , data:{ confirm: ' آیا مطمینید میخاهید این مطلب را حذف کنید؟'}  ,:article_id => article.id ,:class => 'buttons'%></td>
        <td><%= link_to 'Edit', ("#{article.id}/edit") ,:class => 'buttons'%></td>
          </tr>
      <% end %>
    </tbody>

  </table>

    </article>
