

<main class="panel_menu">
<h5><br><%= link_to "مطلب جدید", '/post' %> <small>در این بخش شما میتوانید مطلب جدیدی ارسال کنید و کاربران ببینند</small></h5>
<h5><hr><%= link_to "ویرایش مطالب", '/edit_article' %> <small>در این بخش شما میتوانید مطالب ارسالی خود را تغییر دهید یا آنها را حذف کنید</small></h5>
<h5><hr><%= link_to "نمایش نوبت ها", '/ticket_view' %> <small>در اینجا نوبت های گرفته شده توسط کاربران را میتوانید ببینید</small></h5>
<h5><hr><%= link_to "افزودن مدیر جدید", '/addadmin' %> <small>در این بخش شما میتوانید مدیری جدید بیافزایید</small></h5>
<h5><hr><%= link_to "تعویض ایمیل", '/e-mail' %> <small>این بخش برای تغییر ایمیل است</small></h5>
<h5><hr><%= link_to "تغییر کلمه عبور", '/password' %> <small>این بخش برای تغییر کلمه عبور است</small></h5>
<h5><hr><%= link_to "حذف مدیر", '/delete_admin' %> <small>در اینجا میتوان مدیری را حذف کرد ف(قط مدیر ارشد دسترسی دارد)</small></h5>
</main>
