<%= form_tag '/add_mail' do  %>


  ایمیل جدید: <%= email_field_tag :email_new %>
  دوباره!: <%= email_field_tag :email_retype %>
  <%= submit_tag "تایید" %>
<hr>
  <% if current_user.email != ''%>
  ایمیل فعلی شما:  <%= current_user.email %>
<% end %>



<% end %>
