<%= form_for :article, url: '/create_article' do |f| %>
<br>

<%= f.file_field :pic %>
عنوان مطلب: <%= f.text_field :title %><br>
<br>   مطلب:    <%= f.text_area :content , cols: "50", rows: "9"%>
<hr>  <%= f.submit "پست" ,:class => 'buttons'%>

<% end %>
