<%= form_tag '/add_password' do  %>


 کلمه عبور فعلی: <%= password_field_tag :password_entered %>
  کلمه عبور جدید: <%= password_field_tag :password_new %>
  دوباره!: <%= password_field_tag :password_retype %>
  <%= submit_tag "تایید" %>




  <% if current_user.email == ''%>
  کلمه عبور فعلی شما: ' <%= current_user.password %> '<br>

  *لطفا سریعا برای خود ایمیلی انتخاب کنید

<% end %>

<% end %>
