




  <%if flash[:notice3] %>
      <div class="note3"><%= flash[:notice3] %></div>
    <a class="buttons" href="/del_ticket_final">بله</a>
    <a  class="buttons" href="/ticket_view">خیر</a>
    <br>

  <% end%>


<% unless (flash[:notice] || flash[:notice3]) %>
     <a href="/del_ticket" class="buttons">حذف تمام رکورد ها</a> <hr>
<%end%>

<table  >
  <thead >
    <tr>
      <th>نام</th>
      <th>شماره تلفن</th>
      <th>موضوع</th>

      <th>توضیحات</th>

    </tr>
  </thead>

  <tbody >
    <% @ticket.each do |ticket| %>
      <tr>
        <td><%= ticket.name %></td>
        <td><%= ticket.phone %></td>
        <td><%= ticket.subject %></td>
        <td><%= ticket.note %></td>
      </tr>
    <% end %>

  </tbody>
</table>
