<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application"  %>
   <%= csrf_meta_tags %>
  </head>

  <body>















<header class="head_container">
  <div class="head_top">
    <div class="hide_top_left"></div>
   <a href="/">   <img class='top_logo' src="/assets/images/logo.png"> </a>
  </div>

  <div class="blue_ribbon"></div>

<div class="bottom_ribbon">



<div class="bottom_ribbon_middle">
  
  <table style="max-width: 90%; float: right;">
  <tr>
    <td class="menu_table"><h1><a href="/contact">درباره ما</a></h1></td>
    <td class="menu_table"><h1><a href="/">خانه</a></h1></td>
    <td class="menu_table"><h1><a href="/appointment"> نوبت دهی</a></h1></td>
    <td class='menu_table'><a href="#">
  <% if current_user %>

  <a href="/logout">خروج </a>  /
<a href='/panel'> پنل مدیریت  </a>

  <%else%>

<a href='/login'> ورود </a> 


  <% end %>


    </td>
  </tr>  

  </table>


</div>

<div class="hide_bottom_right"></div>


<img src="/assets/images/shape.png" class='polygon'>
<div class="search_wrap">
<input class="search_box" placeholder="جستجو"></input>
<div class="search_icon">O</div>
</div>


</div>



</header>









<div class="main_page">


<% if flash[:notice2] %>
    <div class="note2"><%= flash[:notice2] %></div>
  <% end %>

  <% if flash[:notice] %>
    <div class="note1"><%= flash[:notice] %></div>
  <% end %>
<br>


  <%= yield %>


</div>
<footer class="footer">
  <h2>تمام حقوق مادی و معنوی این وب متعلق به مرکز مشاوره و خدمات مامایی رابین دایان میباشد </h2>
  <h3>طراحی و اجرا توسط <a href="http://www.icefox.ir">تیم یاقوت</a> </h3>
</footer>




  </body>
</html>
